@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  font-family: "Wittgenstein", serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgb(40, 40, 50);
  background-color: ghostwhite;

  font-synthesis: none;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100dvh;
}

h1 {
  color: royalBlue;
  font-weight: 900;
  font-size: 5rem;
}

.callout {
  font-size: 2rem;
  padding: 0 2rem;

  .new-tech {
    color: royalblue;
    font-weight: 800;
  }

  .communities-together {
    color: darkcyan;
    font-weight: 800;
  }
}

footer {
  margin-top: auto;
  padding: 0.5rem 0;
  width: 100%;
  color: linen;
  background-color: rgb(40, 40, 50);
  font-family: "Nunito Sans", sans-serif;

  p {
    margin-right: 2rem;
    font-size: 0.75rem;
    text-align: center;
  }
}